*,
html,
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
    font-family: Arial, Helvetica, sans-serif;
}

#loader {
    width: 100vw;
    height: 100vh;
    background-color: #333333;
    margin: 0;
    position: absolute;
    top: 0;
}

#story-title {
    margin: 20px auto;
    width: fit-content;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

#story-body {
    width: 400px;
    margin: auto;
    box-sizing: border-box;
    text-align: justify;
    border: 1px solid #dedede;
    padding: 20px;
}

#story-location {
    text-align: center;
    font-style: italic;
    border-bottom: 1px solid #dedede;
    padding-bottom: 20px;
    margin-bottom: 25px;
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 12px;
}

#story-link {
    padding: 10px;
    margin-top: 15px;
    background: #e4e4e4;
}